html, body {
  height: 100%;
}

body {
  background: #949494;
  margin-top: 55px;
  margin-left: 20px;
  color: #5a5c72;
  font-family: Helvetica;
  overflow: hidden;
}

.nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  font-weight: bold;
  color: white;
  z-index: 999;
  padding-top: 5px;
  box-shadow: 1px 3px 7px 0px rgb(0 0 0 / 25%);
  background-color: #394450; /* #4d97ff; */
  width: 100%;
  height: 35px;
  text-align: center;
}

.nav a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin: 0 5px;
}

.nav a:hover {
  color: rgba(255, 255, 255, 0.9);
}

.sidenav {
  bottom: 0;
  height: auto;
  width: calc(160px - 15px);
  text-align: left !important;
  padding: 15px;
}

.sidenav select {
  width: 90%;
  margin-top: 10px;
}

.sidenav a {
  text-decoration: underline;
  margin-top: 5px;
  display: block;
}

select {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.2); /* #3b7bd4; */
  height: 30px;
  margin-left: 5px;
  border-radius: 5px;
  padding: 5px;
  transition: 0.2s;
  width: 20%;
  color: white;
}

option {
  background: #394450;
}

option:disabled {
  display: none;
  /* color: #e3e3e3; */
}

.canvas {
  background: #f7f7f7;
  width: 80%;
  height: 70%;
  margin-left: 200px;
  border: 4px solid lightgray;
  margin-top: 60px;
  position: relative;
  overflow: hidden;
}
  
input {
  color: #fff;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, .1);
  height: 30px;
  margin-left: 5px;
  border-radius: 5px;
  padding: 0 5px;
  padding-left: 8px;
  transition: 0.2s;
  width: 10%;
}

input::placeholder {
  color: white;
}

input:focus {
  background-color: rgba(0, 0, 0, .2);
}

.footer {
  background: #e7e7e7;
  position: fixed;
  bottom: 0;
  left: 180px;
  right: 0;
  font-size: 0.84rem;
  padding: 20px 120px;
  border-radius: 20px 20px 0 0;
  z-index: 999;
}